<%= simple_form_for(@content) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.cktext_area :body, :ckeditor => {:language => 'ja'}, :ckeditor => {:uiColor => '#ffffff', :toolbar => 'mini'} %>
    <%= f.input :slug %>
    <%= f.input :status, :as => :hidden, :input_html => { :value => "published" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "ページを公開" %>
  </div>
<% end %>
